Source: com.github.artemanufrij.showmypictures
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 9),
               libgranite-dev,
               libsqlite3-dev,
               libexif,
               valac (>= 0.26)
Standards-Version: 3.9.3

Package: com.github.artemanufrij.showmypictures
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple image viewer
 An image viewer for manage local pictures, written especially for elementary OS
