[Desktop Entry]
Name=Photo Viewer
GenericName=Image Viewer
Comment=Manage your Pictures
Keywords=picture;photo;album;
Exec=com.github.artemanufrij.showmypictures %U
Icon=com.github.artemanufrij.showmypictures
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
MimeType=x-content/image-dcf;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/png;image/x-png;image/x-bmp;
X-GNOME-Gettext-Domain=com.github.artemanufrij.showmypictures